[Unit]
Description=Slack Bot by fishhead
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart={HOME_PATH}projects/slack_bot/slack_bot/bin/python3 {HOME_PATH}projects/slack_bot/main.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
